<div class="employee-view">
  <div class="label">
    <span class="heading"> Your Leave Balance As of Today </span>
  </div>
  <div class="leave-section">
    <div class="sick-leave">
      <div class="inline-block lebel-span">
        <span class="leave-type">Sick</span>
      </div>
      <div class="inline-block count">Count</div>
    </div>
    <div class="casual-leave">
      <div class="inline-block lebel-span">
        <span class="leave-type">Casual</span>
      </div>
      <div class="inline-block count">Count</div>
    </div>
    <div class="vacation-leave">
      <div class="inline-block lebel-span">
        <span class="leave-type">Vacation</span>
      </div>
      <div class="inline-block count">Count</div>
    </div>
  </div>
  <div class="navigate">
    <button mat-raised-button color="primary">New Leave Request</button>
  </div>
</div>